.btn {
  font-size: 16px;
  font-family: "Montserrat";
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 14px 25px;
  line-height: 120%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  transition:
    color .3s ease,
    background-color .3s ease,
    transform .3s ease,
    border-color .3s ease;
    &:hover {
      border-color:$brand-black;
      background-color: $brand-black;
      color: #fff;
    }
    &:active {
      transform: translateY(2px);
    }
}

.blueBtn {
  background-color:$brand-blue;
  color: #fff;
}
.ghostBtn {
  background-color:transparent;
  color: $brand-blue;
  border-color: #BEC4CF;
}

.borderBtn {
  background-color:transparent;
  color: #1D1E21;
  border-color: $mainFontColor;
  font-weight: 600;
}

button {
  cursor: pointer;
  border:none;
  background-color: transparent;
}

