// Size
$mainFontSize: 16px;
$mainFontWeight: 500;
$mainLineHeight: 1.2;

$desktopWidth: 1480px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-blue:#2371E4;
$brand-gray:#4C5563;
$brand-black: #1F2B3D;

// Font
$mainFont: "Montserrat";
$mainFontColor: $brand-black;

// Border Color
$border-base:1px solid #E1EAED;