// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";


.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}


@keyframes whiteShadow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fromOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $mainFont !important;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $mainFontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;

  &.hidden {
    overflow: hidden;

  }
}

input,
button,
textarea {
  font-family: $mainFont !important;
}

.hidden-input {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  height: 0;
  width: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $brand-black;
  color: #fff;
}



.section__title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 35px;

  &.articles-title {
    padding-right: 110px;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 984px
  }
}


@import "./common.scss";

.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.column {
    flex-direction: column;
    align-items: flex-start;
  }
}

[data-render-container] {
  min-height: 218px;
}

.widget-template {
  padding: 12px 0;
  max-width: 944px;
  margin: auto;
  opacity: 0;
  transition: opacity .3s ease;
}

.widget-template__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 43, 61, 0.2);
  z-index: 10;
}

.modal__contemt {
  position: relative;
  max-width: 433px;
  padding: 38px 90px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  top: 50%;

  .close-btn {
    position: absolute;
    right: 17px;
    top: 17px;
    width: 16px;
    height: 16px;

    path {
      transition: stroke 0.3s ease;
    }

    &:hover {
      path {
        stroke: $brand-blue;
      }
    }
  }

  .ico-wrapper {
    margin-bottom: 28px !important;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: -10px;
    margin-left: -10px;

    .btn {
      margin: 0 10px;
      max-width: 112px;
      width: 100%;
    }
  }
}

.widget-template__slider-wrapper {
  min-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.widget-template__slider-nav {
  order: 2;
  margin-left: auto;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 96px;
  height: 32px;

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    transition: opacity .3s ease,
      transform .3s ease,
      box-shadow .3s ease,
      border-color .3s ease,
      background-color .3s ease;
    margin: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: $border-base;
    border-width: 2px;
    position: static;

    path {
      transition: stroke .3s ease;
    }

    &:hover {
      border-color: $brand-blue;

      path {
        stroke: $brand-blue;
      }

      transform: translateY(-2px);
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: $brand-blue;
      transform: translateY(0px);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);

      path {
        stroke: #fff;
      }
    }
  }

  .swiper-button-prev svg {
    transform: rotate(180deg) translate3d(2px, 0, 0px);
  }
}

.widget-template__slider {
  position: relative;
  max-width: 86.5%;
  width: 100%;
  margin: 0;

  &.blur {
    &:before {
      z-index: 2;
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .swiper-wrapper {
    transition-timing-function: ease-in-out;
  }

  .swiper-slide {
    overflow: hidden;
    animation: fromOpacity 1.5s ease-in-out;
    will-change: auto;
    cursor: pointer;
    border-radius: 4px;
    padding: 13px 17px 8px;
    color: $mainFontColor;
    transition: background-color .5s ease, width .3s ease, color .5s ease;
    width: 82px;
    background-color: #fff;

    &:hover:not(.active) {
      background-color: #F0F5F6;
      ;
      color: $brand-blue;

      .date-slide__body {
        color: $brand-blue;
      }
    }

    &.active {
      width: 143px;
      background: $brand-blue;
      color: #fff;

      .date-slide-full-day {
        display: block;
        opacity: 1;
      }

      .date-slide-short-day {
        display: none;
        opacity: 0;
      }

      .date-slide__body {
        color: #fff;
      }
    }
  }

  .date-slide__head {
    font-weight: 600;
    font-size: 18px;

    .date-slide-full-day {
      transition: opacity .3s ease-in-out 0.2s;
      display: none;
      opacity: 0;
    }

    .date-slide-short-day {
      transition: opacity .3s ease-in-out 0.2s;
      display: block;
      opacity: 1;
    }
  }

  .date-slide__body {
    transition: color .5s ease;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $brand-gray;

    span {
      margin-right: 5px;
    }
  }
}

.widget-template__head {
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: $border-base;
}

.location {
  min-height: 87px;
  flex: 0 0 60%;
  padding: 25px 34px 17px 34px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  &.head-info {
    flex: 0 0 40%;
    border-left: $border-base;
    margin-right: 0;
    line-height: 200%;
    font-size: 14px;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

}

.widget-template__body {
  padding: 50px 34px 0px 34px;
}

.widget-template__warning {
  color: $brand-gray;
  background: #FFFCC0;
  border-radius: 4px;
  padding: 6px 12px;
  max-width: 790px;
  margin: auto;
  margin-bottom: -36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;

  a {
    display: inline;
    color: #1F2B3D;

    &:hover {
      text-decoration: underline;
    }
  }
}

.warning__close {
  align-self: flex-start;
  height: 24px;
  width: 24px;
  margin-left: 5px;

}

.litle-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.litle-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: $brand-gray;
}

.large-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.widget-template__step {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.widget-template__form {
  flex-wrap: wrap;
  display: flex;
  border: $border-base;
  background-color: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 58px;
  min-height: 660px;
}

.widget-template__nameplate {
  font-weight: 500;
  font-size: 14px;
  color: #A6AAB1;

  &.step {
    color: $brand-gray;
  }

  &.pl {
    padding-left: 10px;
  }
}

.widget-template__datapicker {
  margin-bottom: 40px;
  position: relative;

  &::before {
    cursor: pointer;
    position: absolute;
    content: '';
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5ZM2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1C16.5523 1 17 1.44772 17 2V6C17 6.55228 16.5523 7 16 7C15.4477 7 15 6.55228 15 6V2C15 1.44772 15.4477 1 16 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1C8.55228 1 9 1.44772 9 2V6C9 6.55228 8.55228 7 8 7C7.44772 7 7 6.55228 7 6V2C7 1.44772 7.44772 1 8 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 10C2 9.44771 2.44772 9 3 9H21C21.5523 9 22 9.44771 22 10C22 10.5523 21.5523 11 21 11H3C2.44772 11 2 10.5523 2 10Z' fill='%23A6AAB1'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;

  .widget-template__nameplate {
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    left: 0;
  }
}

#widget-datapicker {
  border: $border-base;
  border-color: #BEC4CF;
  padding: 14px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}

.widget-template__block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .wrapper {
    margin-bottom: 40px;
    margin-right: 15px;
  }
}

.widget-template__shedule {
  padding-bottom: 26px;
  margin-top: 17px;
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  .shedule__block {
    margin-bottom: 20px;
    flex: 0 0 50%;
    padding: 0px 8px;
    animation: fromOpacity .3s ease;
  }

  .shedule__block-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    font-size: 14px;

    .shedule-time {
      color: $brand-gray;
      width: 100%;
      height: 100%;
      will-change: transform;
      transform: translate3d(0, 0, 0);
      padding: 6px;
      text-align: center;
      border-radius: 4px;
      border: $border-base;
      transition: background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out, border-color .3s ease-in-out;
    }

    li {
      flex: 0 0 20%;
      border-radius: 4px;
      padding: 4px;
      position: relative;
    }

    ;
  }

  .shedule-input {
    &:hover {
      &+.shedule-time {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        background-color: #F0F5F6;
        color: $brand-blue;
      }
    }

    &:active {
      &+.shedule-time {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0);
      }
    }

    &[disabled] {
      pointer-events: none;

      &+.shedule-time {
        opacity: 0.4;
      }
    }

    z-index: 1;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:checked+.shedule-time {
      background-color: $brand-blue;
      border-color: $brand-blue;
      color: #fff;
    }
  }
}



.air-datepicker-nav--title,
.air-datepicker-nav--title i {
  font-size: 18px;
  font-weight: 600;
  color: $brand-blue;
  font-family: $mainFont;
}

.air-datepicker .air-datepicker-cell.-selected-,
.air-datepicker-cell.-in-range-,
.air-datepicker-cell.-range-to-,
.air-datepicker-cell.-range-from- {
  border-radius: 50% !important;
}

.air-datepicker-nav--action {
  transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  border: $border-base;
  border-width: 2px;
  width: 32px;
  height: 32px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-1px, -3px);

    path {
      transition: stroke .35s ease-in-out;
      stroke: #BEC4CF;
    }
  }

  &:hover {
    background-color: $brand-blue;
    border-color: $brand-blue;

    path {
      stroke: #fff;
    }
  }
}

.air-datepicker-body--day-name {
  font-weight: 500;
  font-size: 14px;
  color: #A6AAB1;
  text-transform: none;
}

.air-datepicker-cell {
  font-size: 16px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.air-datepicker {
  min-height: 373px;
  min-width: 360px;

  .air-datepicker-body--day-names {
    margin-bottom: 17px;
  }

  .air-datepicker-body--cells {
    grid-auto-rows: auto;
  }

  .air-datepicker-nav {
    padding: 18px 21px 0 21px;
    border-bottom: none;
  }

  .air-datepicker--content {
    padding-right: 19px;
    padding-left: 19px;
  }

  .air-datepicker--buttons,
  .air-datepicker--time {
    border-top: none;
  }

  .air-datepicker-button span {
    color: $brand-blue;
    font-weight: 500;
    font-size: 14px;
  }

  .air-datepicker .air-datepicker--buttons,
  .air-datepicker .air-datepicker--time {
    padding-top: 0 !important;
  }

  .air-datepicker-nav--title,
  .air-datepicker-nav--title i,
  .air-datepicker-button,
  .air-datepicker-cell {
    transition: background-color .35s ease, color .35s ease;

    &:hover {
      background-color: #F0F5F6;
    }
  }

  .air-datepicker-cell.-selected-.-current-,
  .air-datepicker-cell.-selected- {
    background-color: $brand-blue;
  }

  .air-datepicker-button {
    width: fit-content;
    margin: auto;
    padding: 5px 15px;
  }
}

[data-step="1"] {
  [data-show-next-step] {
    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }
}

[data-step="3"] {
  .location {
    flex: 0 0 50%;
    justify-content: center;
  }

  .widget-template__head {
    border: none;
  }
}

.widget-template__footer {
  margin-top: auto;
  padding: 10px 34px 46px 34px;
  display: flex;
  min-height: 50px;
  align-items: center;

  .next-step {
    transition: opacity .3s ease-in-out;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.next-btn {
  padding: 15px 37px;
  background-color: $brand-blue;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
}

.selected-date-wrapper {

  margin-right: 22px;
  font-weight: 500;
  font-size: 14px;
  margin-right: 22px;
  display: flex;
  color: $brand-gray;
  align-items: center;
}

.back-btn {
  font-weight: 600;
  font-size: 16px;
  color: $brand-gray;
}



.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: $brand-blue;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}



.render-container-wrapper {
  position: relative;
}

.preloader-spin {
  transition: opacity .2s ease, visibility .2s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  z-index: 2;
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 984px) {
  .widget-template__shedule {
    flex-direction: column;
  }

  .widget-template__shedule .shedule__block {
    flex: 0 0 100%;
  }

  .location {
    &.head-info {
      justify-content: flex-start;
      flex: 0 0 100%;
      border-left: none;
      border-top: $border-base;
    }

    flex: 0 0 100% !important;

    &.calendar {
      padding-top: 0;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: initial;
    }
  }

  .calendar-link {
    margin-left: 0;
  }
}


@media (max-width: 768px) {
  .working-hours__item.show .widget-template__shedule {
    overflow: visible;
  }

  .working-hours__item .widget-template__shedule .shedule__block {
    min-width: initial;
  }

  .working-hours__item {
    flex-direction: column;

    .widget-template__shedule {
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 20px;

      .shedule__block {
        flex: 0 0 auto;
        flex-direction: column;
      }
    }
  }

  .working-hours__day {
    margin-right: 0;
  }

  .widget-template__slider {
    max-width: initial;
  }

  .appointment-status {
    text-align: center;
  }

  .info-table .location,
  .info-table .user-data {
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4 !important;
    border: $border-base !important;

    &:not(:last-child) {
      border-bottom: none !important;
    }
  }

  .widget-template__slider-nav {
    display: none;
  }

  .widget-template__shedule {
    overflow: auto;
  }

  .widget-template__shedule .shedule__block {
    flex: 0 0 auto;
    min-width: 500px;
  }
}

@media (max-width: 576px) {
  .edit__steps {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .edit__head {
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .edit__body .litle-subtitle,
  .duration-block__wrapper {
    margin-bottom: 20px;
  }

  .styles-label {
    padding: 20px 10px 8px 10px;
  }

  .styles-label .styles-text {
    left: 10px;
  }

  .duration-block__field {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px !important;

    .flex-row {
      order: -1;
      margin-bottom: 10px;
    }
  }

  .unworking-time__item {
    padding: 8px 0px;
  }

  .working-hours__item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .working-hours__day {
    padding: 15px 0;
    width: 100%;
  }

  .working-hours__item {
    height: 47px;
  }

  .working-hours__item .widget-template__shedule {
    margin-top: 0;
  }

  .unworking-time__head {
    margin-bottom: 15px;
  }

  .widget-template__form {
    margin-top: 70px;
  }

  .widget-template__datapicker {
    margin-top: 20px;
  }

  .modal__contemt {
    padding-right: 10vw;
    padding-left: 10vw;
    max-width: 100%;
    width: 90%;
  }

  .location.cancel {
    min-height: initial;
    height: 13px;
    padding: 0;
  }

  .next-btn {
    padding: 14px 25px;
  }

  .info-table .location,
  .info-table .user-data {
    padding-left: 19px;
    padding-right: 19px;
    text-align: center;
  }

  .location.calendar {
    align-items: center;
    padding-bottom: 0;
  }

  .info-table .litle-title {
    margin-bottom: 13px;
  }

  .appointment-status {
    margin-bottom: 36px;
  }

  .widget-template__labeles {
    flex-direction: column;

    label {
      flex: 0 0 100%;
      width: 100%;
      padding: 0;
    }
  }

  .widget-template__warning a {
    text-decoration: underline;
  }

  .widget-template__shedule {
    margin-right: 0;
    margin-left: 0;
  }

  .widget-template__datapicker {
    width: 100%;
    margin-bottom: 22px;
  }

  .widget-template__block .wrapper {
    margin-bottom: 22px;
    margin-right: 0;
  }

  .large-title {
    font-size: 20px;
  }

  .location,
  .widget-template__body,
  .widget-template__footer {
    padding-left: 24px;
    padding-right: 24px;
  }

  .widget-template__body {
    padding-top: 23px;
  }

  .widget-template__footer {
    flex-direction: column;
    align-items: center;
  }

  .widget-template__footer .next-step {
    width: 100%;
    margin-left: initial;
    order: -1;
    flex-direction: column;
    margin-bottom: 26px;
    align-items: center;

    .next-btn {
      width: 100%;
    }
  }

  .selected-date-wrapper {
    margin: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 380px) {
  .uploaded-data::before {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .location.head-info {
    justify-content: center;
  }

  .uploaded-data {
    font-size: 16px;
    line-height: 120%;
    flex-direction: column;
  }
}

@media (max-width: 360px) {

  .widget-template__slider-wrapper,
  .render-container-wrapper {
    margin-right: -18px;
  }

  .air-datepicker {
    min-width: inherit;
    max-width: 320px;
    width: 100%;
  }

  .air-datepicker .air-datepicker-nav,
  .air-datepicker .air-datepicker--content {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.uploaded-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  &::before {
    margin-right: 20px;
    width: 20px;
    height: 22px;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 4C2.44772 4 2 4.44772 2 5V19C2 19.5523 2.44772 20 3 20H17C17.5523 20 18 19.5523 18 19V5C18 4.44772 17.5523 4 17 4H3ZM0 5C0 3.34315 1.34315 2 3 2H17C18.6569 2 20 3.34315 20 5V19C20 20.6569 18.6569 22 17 22H3C1.34315 22 0 20.6569 0 19V5Z' fill='%231F2B3D'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0C14.5523 0 15 0.447715 15 1V5C15 5.55228 14.5523 6 14 6C13.4477 6 13 5.55228 13 5V1C13 0.447715 13.4477 0 14 0Z' fill='%231F2B3D'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V5C7 5.55228 6.55228 6 6 6C5.44772 6 5 5.55228 5 5V1C5 0.447715 5.44772 0 6 0Z' fill='%231F2B3D'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 9C0 8.44771 0.447715 8 1 8H19C19.5523 8 20 8.44771 20 9C20 9.55228 19.5523 10 19 10H1C0.447715 10 0 9.55228 0 9Z' fill='%231F2B3D'/%3e%3c/svg%3e ");
  }
}

.widget-template__labeles {
  max-width: 405px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 42px;
}

.widget-template__label {
  padding: 0 8px;
  flex: 0 0 100%;
  margin-bottom: 16px;
}

.form-text-input {
  border-radius: 5px;
  width: 100%;
  padding: 14px 20px;
  border: $border-base;
}

.calendar-link {
  color: $brand-blue;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: auto;

  &::after {
    flex: 0 0 auto;
    display: block;
    content: '';
    width: 31px;
    height: 31px;
    background-image: url('../img/calendar-ico.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 13px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.appointment-status {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ico-wrapper {
    margin-bottom: 12px;
  }
}

.ico-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  flex-shrink: 0;

  &.true {
    background-color: #C0FFD2;
  }

  &.false {
    background-color: #FFDADA;
  }

  &.warn {
    background-color: #FFFCC0;
  }
}

.info-table {
  &.cancel * {
    color: #A6AAB1;
  }

  margin: auto;
  max-width: 729px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  margin-bottom: 50px;

  .location {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    border: $border-base;
    border-right: none;
    border-bottom: none;
    padding: 17px 29px;

    &.head-info {
      display: flex;
      grid-column-start: 3;
      grid-column-end: 3;
      border: $border-base;
      border-bottom: none;
    }


    .uploaded-data::before {
      display: none;
    }
  }

  .user-data {
    border: $border-base;

    &:not(:last-child) {
      border-right: none;
    }

    word-break: break-all;
    padding: 17px 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      margin-bottom: 5px;
    }
  }
}

.form-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  &:checked+.checkbox-name {
    &::before {
      background: $brand-blue;
      border-color: $brand-blue;
    }

    &::after {
      opacity: 1;
    }
  }
}

.widget-template__label {
  cursor: pointer;
  position: relative;
  font-size: 16px;

  .form-textarea {
    border: $border-base;
    resize: vertical;
    border-radius: 5px;
    width: 100%;
    min-height: 120px;
    padding: 14px 20px;
  }




}

.checkbox-name {
  padding-left: 30px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 3px;
    top: 50%;
    transform: translateY(-40%);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4.5L5 8.5L12.5 1' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &::before {
    transition: background-color .3s ease, border-color .3s ease;
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: $border-base;
  }
}

.form-radio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  &:checked+.radio-name {
    &::before {
      border-color: $brand-blue;
      border-width: 5px;
    }
  }
}

.radio-name {
  padding-left: 30px;
  position: relative;

  &::before {
    transition: border-color .3s ease, border-width 0.15s linear;
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: $border-base;
  }
}


.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 22px 30px;
  overflow: hidden;
  max-width: 130px;
  max-height: 63px;
  height: 100%;

  svg,
  img {
    height: 100%;
    object-fit: contain;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header {
  border-bottom: $border-base;
  background-color: #fff;
  margin-bottom: 30px;
}

.navigation__btn {
  // flex: 0 0 50%;
  margin: 0px 25px;
  color: $brand-gray;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 22px 0;
  border-bottom: 3px solid transparent;

  &.active {
    color: $brand-black;
    border-bottom: 3px solid $brand-blue;
  }
}

.header__user {
  position: relative;
  margin-left: 31px;
  display: flex;
  align-items: center;
  align-self: stretch;

  &:after {
    content: '';
    display: block;
    margin-left: 18px;
    width: 14px;
    height: 8px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='black'/%3e%3c/svg%3e ");
    background-size: contain;
  }

  .user__image {
    width: 34px;
    height: 34px;
    background-color: #C8F5FF;
    border-radius: 50%;
    overflow: hidden;

    img,
    svg {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  .user__menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s ease;

    border-radius: 5px;
    text-align: right;
    padding: 15px;
    transform: translateY(100%);
    width: 100px;
    position: absolute;
    right: -20px;
    bottom: 0px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    a {
      color: $brand-gray;
      font-size: 16px;
      padding: 5px 0;
      margin-bottom: 3px;
      font-weight: 500;
      transition: color .3s ease;

      &:hover {
        color: $brand-blue;
      }
    }
  }

  &:hover .user__menu {
    visibility: visible;
    opacity: 1;
  }
}


.stisky__wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 944px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.04);
  border: 1px solid #E1EAED;
  margin-bottom: 40px;

  .stisky__menu {
    padding-top: 20px;
    top: 20px;
    transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out 0.5s;
    padding-right: 40px;
    max-width: 252px;
    margin-left: -252px;
    position: sticky;
    top: 107px;
    width: 100%;
    opacity: 0;
  }

  .stisky__content {
    padding: 30px;
    padding-bottom: 45px;
    width: 100%;
  }
}

@media (max-width: 1439px) {
  .stisky__wrapper .stisky__menu {
    box-shadow: 2px 0px 9px 1px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 110px 20px 50px;
    background: #fff;
    z-index: 10;
    overflow: auto;
    transform: translateX(-100%) !important;
  }
}

body {
  background-color: #FAFEFF;
}

.big-title {
  font-size: 30px;
  font-weight: 600;
}

.admin-content__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .big-title {
    margin-right: 15px;
  }

  .btn {
    padding: 9px 25px;
  }

  .btn,
  .big-title {
    margin-bottom: 25px;
  }
}

.date-range__date-list {
  flex-wrap: wrap;
  margin-right: 10px;
  color: $brand-gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .list-item {
    padding: 5px 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-right: 25px;

    }

    &.active {
      .list-item__name {
        color: $brand-black;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          height: 3px;
          background-color: $brand-blue;
        }
      }

      .list-item__counter {
        color: #fff;
        background-color: $brand-blue;
      }
    }
  }

  .list-item__name {
    font-weight: 500;
    margin-right: 3px;
  }

  .list-item__counter {
    background: #C8F5FF;
    border-radius: 56px;
    padding: 1px 5px;
    font-size: 14px;
    line-height: 143%;
    color: $brand-black;
    font-weight: 500;

    &:empty {
      display: none;
    }
  }
}


.date-range__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 37px;
  position: relative;
}

.date-range__select {
  position: relative;
  cursor: pointer !important;
  padding: 5px 0 10px;
  flex: 0 0 auto;

  .date-range__datapicker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer !important;

  }
}

.date-range__select-text {
  position: relative;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::after {
    margin-left: 9px;
    cursor: pointer;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5ZM2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1C16.5523 1 17 1.44772 17 2V6C17 6.55228 16.5523 7 16 7C15.4477 7 15 6.55228 15 6V2C15 1.44772 15.4477 1 16 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1C8.55228 1 9 1.44772 9 2V6C9 6.55228 8.55228 7 8 7C7.44772 7 7 6.55228 7 6V2C7 1.44772 7.44772 1 8 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 10C2 9.44771 2.44772 9 3 9H21C21.5523 9 22 9.44771 22 10C22 10.5523 21.5523 11 21 11H3C2.44772 11 2 10.5523 2 10Z' fill='%23A6AAB1'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.title-18 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.shedule-body__time {
  border-bottom: $border-base;
  border-top: $border-base;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  padding: 16px 40px 16px 16px;
  max-height: 56px;
  overflow: hidden;
  transition: height .5s ease-in-out,
    background-color .4s ease-in-out;

  &.show {
    max-height: 999px;
    background-color: rgba(240, 245, 246, 0.5);

    .show-details__text {
      font-size: 16px !important;
      color: $brand-black !important;
    }

    .show-details__ico {
      transform: rotate(180deg);

      path {
        fill: $brand-black;
      }
    }
  }

  &:not(:last-child) {
    border-bottom: none;
  }

  .time {
    padding: 5px 0;
    flex: 0 0 25%;
  }

  .patient {
    flex: 0 0 65%;
  }

  .patient__name {
    padding: 5px 0;

  }

  .show-details {
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;

    .show-details__text {
      transition: font-size .4s ease, color .4s ease;
      margin-right: 12px;
      color: $brand-blue;
    }

    .show-details__ico {
      transition: transform .4s ease;
      display: flex;
      align-items: center;

      path {
        transition: fill .4s ease;
      }
    }
  }
}

.patient__hidden-info {
  padding: 33px 0px 16px 0px;

}

.patient__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;

  .info-type {
    flex: 0 0 20%;
    color: $brand-gray;
  }
}

.cancel-btn {
  margin-top: 36px;
  cursor: pointer;
  color: $brand-blue;
}

.shedule-body__day {
  &:not(:last-child) {
    margin-bottom: 44px;
  }

  .widget-template__nameplate {
    margin-bottom: 7px;
  }
}

@media (max-width: 768px) {
  .date-range__date-list .list-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .header__user .user__menu {
    right: 0;
  }

  .header__user {
    margin-left: 5px;
  }

  .stisky__wrapper .stisky__content {
    padding: 15px;
  }

  .admin-content__head .btn,
  .admin-content__head .big-title {
    margin-bottom: 15px;
  }

  .shedule-body__time {
    flex-wrap: wrap;
    padding: 10px;
    max-height: 45px;
  }

  .shedule-body__time .patient {
    flex: 0 0 100%;
    order: 3;
  }

  .patient__hidden-info {
    padding: 15px 0px 15px 0px;
  }

  .shedule-body__time .patient__name {
    padding-top: 15px;
  }

  .date-range__select {
    flex: 0 0 100%;
    order: 2;
  }

  .date-range__wrapper {
    flex-wrap: wrap;
  }

  .date-range__wrapper {
    margin-bottom: 20px;
  }

  .cancel-btn {
    margin-top: 20px;
  }

  .navigation__btn {
    margin: 0px 10px;
  }



  .header__user:after {
    margin-left: 5px;
  }

  .header__logo {
    padding: 15px 0px;
  }

  .navigation__btn {
    font-size: 14px;
    padding: 15px 0;
  }

  .appointment-cancel-modal {
    padding: 15px;
  }

  .institution-block {
    padding: 15px;
    margin-bottom: 30px;
  }

}

@media (max-width: 440px) {
  header {
    margin-bottom: 20px;
  }

  .duration-block__label {
    width: 70px;
    height: 50px;
  }

  .header__user .user__image {
    width: 25px;
    height: 25px;
  }

  .header__user:after {
    display: none;
  }

  .appointment-cancel-modal__footer {
    flex-direction: column;
  }

  .cancel__btn {
    margin-left: 0;
    margin-top: 15px;
  }

  .appointment-cancel-modal__textarea {
    margin-bottom: 15px;
  }

}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  overflow: auto;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.appointment-cancel-modal {
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 30px 35px 53px;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  margin-top: 150px;
}

.appointment-cancel-modal__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
  padding-right: 30px;

  .ico-wrapper {
    margin-right: 16px;
    font-size: 24px;
    font-weight: 600;
  }

  .litle-title {
    margin-bottom: 0;
  }
}

.appointment-cancel-modal__user {

  background: #C8F5FF;
  border-radius: 5px;
  padding: 9px 20px;
  margin-bottom: 15px;

  .user-block {
    margin-bottom: 8px;
    color: $brand-black;
  }
}

.appointment-cancel-modal__textarea {
  border: 1px solid #BEC4CF;
  border-radius: 5px;
  width: 100%;
  resize: vertical;
  min-height: 106px;
  padding: 14px 21px;
  margin-bottom: 40px;
}

.appointment-cancel-modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cancel__btn {
  border: 1px solid #BEC4CF;
  padding: 14px 43px;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 600;
  color: $brand-blue;
}

.close-modal {
  cursor: pointer;
  width: 22px;
  height: 22px;
  padding: 4px;
  position: absolute;
  right: 15px;
  top: 15px;

  &:before,
  &:after {
    width: 100%;
    height: 2px;
    background-color: #BEC4CF;
    border-radius: 2px;
    position: absolute;
    content: '';
    top: 50%;
    left: 0%;
    transition: background-color .3s ease-in-out;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  transition: transform .3s ease-in-out;
  will-change: transform;

  &:hover {
    transform: scale(1.2);

    &:before,
    &:after {
      background-color: $brand-blue;
    }
  }
}


.institution-block {
  margin-bottom: 44px;
  background-color: rgba(240, 245, 246, 0.5);
  padding: 30px;
  border-radius: 4px;

  .widget-template__warning {
    margin: initial;
    margin-bottom: 0;
    width: fit-content;
    max-width: initial;
  }
}

.institution-block__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;

  .litle-subtitle,
  .large-title {
    padding-right: 10px;
  }

  .status,
  .titles-wrap {
    margin-bottom: 30px;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 12px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;

  svg {
    margin-right: 7px;
  }

  &.green {
    background-color: #C0FFD2;
  }
}

.institution-block__text {
  margin-bottom: 13px;
}

.working-hours__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3px;
}

.working-hours__item {
  height: 64px;
  overflow: hidden;
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: height .8s ease-in-out;

  &.show {
    height: auto;

    .widget-template__shedule {
      transform: translateY(0);
      opacity: 1;

      &.result {
        pointer-events: none;
      }
    }

    .working-hours__day-ico {
      transform: rotate(180deg);
    }
  }

  &.down {
    pointer-events: none;

    .widget-template__shedule {
      pointer-events: none;
      transform: translateY(64px);
      opacity: 0;
      overflow: hidden;
    }

    .working-hours__day-ico {
      transform: rotate(0deg);
    }
  }

  &:not(l:last-child) {
    border-bottom: 1px solid #E1EAED;
  }

  .widget-template__shedule {
    transition: transform .8s ease-in-out, opacity .8s ease-in-out;
    will-change: transform;
    transform: translateY(64px);
    opacity: 0;
    overflow: initial;
    flex-direction: column;
    margin: 0px;
    padding: 0;
    margin-top: -9px;

    .shedule__block {
      margin: 0;
      padding: 0;
      display: flex;
      flex: 0 0 100%;
    }

    .shedule__block-list {
      width: 100%;
    }
  }

  .widget-template__nameplate {
    margin-right: 19px;
    padding-top: 5px;
    line-height: 143%;
  }

  .shedule__block-list li {
    flex: 0 0 auto;
    width: 88px;
    height: 40px;
    white-space: nowrap;

    .shedule-time {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .shedule__block-list {
    margin-bottom: 8px;
  }
}

.working-hours__day {
  min-width: 125px;
  margin-right: 25px;
  margin-top: -3px;
  cursor: pointer;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .working-hours__day-ico {
    transition: transform .8s ease-in-out;
    margin-right: 9px;
  }
}

.unworking-time__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .tooltip-wrapper {
    margin-bottom: 0;
  }

  .title-18 {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.working-hours__list {
  margin-bottom: 38px;
}

.unworking-time__item {
  padding: 14px 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E1EAED;
  font-size: 14px;

  &:first-child {
    border-top: 1px solid #E1EAED;
  }

  .unworking-time__col {
    flex: 0 0 33.33%;
    color: $brand-gray;
    padding: 0px 5px;

    &.name {
      color: $brand-black;

      .form-checkbox {
        &:checked+.checkbox-name {
          color: $brand-black;
        }
      }

      .checkbox-name {
        color: $brand-gray;
      }
    }

    &.time {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
    }

    .widget-template__label {
      padding: 0;
    }

    .settings {
      margin-left: 25px;
      align-items: center;
      display: flex;

      button {
        color: $brand-blue;
        font-weight: 500;
        font-size: 14px;
      }

      .close-modal {
        margin-left: 20px;
        width: 24px;
        height: 24px;
        border: 5px solid transparent;
        position: static;
      }
    }
  }
}

.blue-btn {
  margin-right: 10px;
  padding: 3px;
  font-weight: 600;
  color: $brand-blue;
}

@media (max-width: 992px) {
  .unworking-time__col.time {
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 100%;
    justify-content: flex-start !important;

    .settings {
      margin-left: 0;
      flex: 0 0 100%;
      width: 100%;
    }
  }

  .unworking-time__item .unworking-time__col .settings .close-modal {
    margin-left: auto;
  }

  .unworking-time__item {
    flex-direction: column;
    align-items: flex-start;

    .unworking-time__col {
      margin-bottom: 5px;

      &.name {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .edit__steps {
    flex-direction: column;
    align-items: flex-start;

    .edit__steps-item::after {
      display: none;
    }
  }
}

.tooltip-el {
  cursor: help;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #BEC4CF;
  color: #BEC4CF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex-shrink: 0;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;

  &:hover {
    color: $brand-blue;
    border-color: $brand-blue;
  }
}

.tooltip-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  margin-right: 8px;
}

.tippy-box {
  background: #1F2B3D;
  border-radius: 5px;
}

.tippy-content {
  padding: 11px;
  font-size: 14px;
}

.tippy-arrow {
  color: #1F2B3D;
}

.edit__head {
  border-bottom: 1px solid #E1EAED;
  margin-right: -30px;
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 13px;
}

.edit__steps {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.edit__steps-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  margin-bottom: 10px;
  color: #A6AAB1;

  &:not(:last-child)::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: #E1EAED;
    display: block;
    margin-left: 12px;
    margin-right: 12px;
  }

  &.active {
    color: $brand-black;
    font-weight: 600;
  }
}

.edit__head {
  margin-bottom: 30px;
}

.edit__body {
  // padding-top: 30px;

  .widget-template__footer {
    padding: 0;
  }

  .titles-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 6px;
  }

  .large-title {
    margin-right: 13px;
  }

  .status {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .litle-subtitle {
    margin-bottom: 44px;
  }
}

.styles-label {
  position: relative;
  border-radius: 5px;
  border: 1px solid #BEC4CF;
  padding: 20px 10px 8px 20px;
  min-height: 50px;
  max-width: 576px;
  width: 100%;
  transition: border-color .3s ease;

  &.focus {
    border-color: $brand-blue;
  }

  .styles-text {
    font-weight: 500;
    color: #4C5563;
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 17px;
    z-index: 1;
    transition: color .2s ease-in,
      top .2s ease-in,
      font-size .2s ease-in,
      transform .2s ease-in;

    &.fixed {
      font-size: 12px;
      top: 5px;
      color: #A6AAB1;
    }
  }

  .styles-text-input {
    background: transparent;
    position: relative;
    font-size: 16px;
    color: $brand-black;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.edit__settings {
  .tooltip-wrapper {
    margin-bottom: 24px;

    .tooltip-el {
      margin-left: 13px;
    }
  }
}

.styles-textarea {
  resize: none;
  width: 100%;
  min-height: 124px;
}

.duration-block__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 7px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.duration-block {
  .tooltip-wrapper {
    margin-bottom: 13px;
  }

  .tooltip-el {
    margin-left: 5px;
  }
}

.duration-title {
  font-size: 14px;
  color: #4C5563;
}

.duration-block__label {
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  position: relative;
  width: 80px;
  height: 50px;
  overflow: hidden;
}

.duration-block__time {
  color: $brand-black;
  width: 100%;
  height: 100%;
  background: #F0F5F6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .4s ease, background-color .4s ease;
}

.duration-block__input {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  &:hover+.duration-block__time {
    background: #dde3e4;
  }

  &:checked+.duration-block__time {
    background: $brand-blue;
    color: #fff;
  }
}


.duration-block__field {
  align-items: center;
  margin-bottom: 65px !important;

  .styles-label {
    max-width: 250px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.date-range-open {
  height: 32px;
  border-radius: 3px;
  margin-bottom: 25px;
  // margin-left: 15px;
  display: none;
  align-items: center;

  .burger {
    flex: 0 0 auto;
    height: 100%;
    width: 32px;
    flex-direction: column;
    justify-content: space-around;
    display: flex;

    span {
      width: 100%;
      height: 4px;
      background-color: $brand-blue;
      border-radius: 5px;
      transition: transform .3s ease;
    }
  }

  &.show {
    span:nth-of-type(1) {
      transform: rotate(45deg) translate(8px, 8px);
      // transform: rotate(225deg) translate(-8px, -8px);
    }

    span:nth-of-type(2) {
      transform: scaleX(0);
    }

    span:nth-of-type(3) {
      transform: rotate(-45deg) translate(7px, -7px);
      // transform: rotate(-225deg) translate(-7px, 7px);
    }
  }



  @media (max-width: 992px) {
    display: flex;
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;
  }
}

.calendar-open {
  margin-top: -3px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5ZM2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1C16.5523 1 17 1.44772 17 2V6C17 6.55228 16.5523 7 16 7C15.4477 7 15 6.55228 15 6V2C15 1.44772 15.4477 1 16 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1C8.55228 1 9 1.44772 9 2V6C9 6.55228 8.55228 7 8 7C7.44772 7 7 6.55228 7 6V2C7 1.44772 7.44772 1 8 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 10C2 9.44771 2.44772 9 3 9H21C21.5523 9 22 9.44771 22 10C22 10.5523 21.5523 11 21 11H3C2.44772 11 2 10.5523 2 10Z' fill='%23A6AAB1'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;

  @media (max-width: 992px) {
    display: block;
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;
  }
}

.mobile-date-range-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .date-range__select-text::after {
    display: none;
  }

  .date-range__select-text {
    display: none;
    justify-content: flex-end;
    text-align: right;

    &.show {
      display: block;
      visibility: visible;
    }
  }

  .date-range__datapicker {
    display: none;
  }

  .date-range__wrapper {
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .date-range__date-list {
    z-index: 5;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    align-items: flex-end;
    order: 3;
    background: #fff;
    padding: 15px;
    margin: 0;
    border-radius: 4px;
    box-shadow: 2px 0px 9px 1px rgb(0 0 0 / 10%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease, visibility .4s ease;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .date-range__date-list .list-item__counter {
    order: -1;
    margin-right: 5px;
  }

  .date-range__date-list .list-item {
    margin-right: 0 !important;
  }
}


.entry__counter {
  margin-right: 5px;
  background: #C8F5FF;
  border-radius: 56px;
  padding: 1px 5px;
  font-size: 14px;
  line-height: 143%;
  color: $brand-black;
  font-weight: 500;

  &:empty {
    display: none;
  }
}

@media (max-width: 650px) {
  .mobile-date-range-wrap {
    flex: 0 0 100%;

    .blueBtn {
      padding: 9px 10px;
    }
  }

  .date-range-open {
    margin-left: 10px;
  }

  .calendar-open {
    margin-right: 5px;
    margin-left: auto;
  }
}

@media (max-width: 576px) {

  .mobile-date-range-wrap .blueBtn,
  .calendar-open,
  .date-range-open {
    margin-bottom: 10px;
  }

  .date-range__wrapper {
    margin-bottom: 0;
  }
}

.add-logo-block {
  margin-top: 30px;
  margin-bottom: 30px;

  .wrapper {
    justify-content: flex-start;
    align-items: flex-end;
    margin: 15px 0;
    flex-wrap: wrap;
  }

  .tooltip-el {
    margin-left: 5px;
  }
}

.remove-logo {
  margin-left: 15px;
}

.add-logo-block__wrapper {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 15px;
  background-color: #F0F5F6;

  img,
  svg {
    object-fit: contain;
    height: 100%;
    object-position: center;
    margin: auto;
  }
}

.upload-btn {
  position: relative;

  * {
    cursor: pointer;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
}

.edit__content {
  .widget-template__label {
    margin-bottom: 0 !important;
  }
}

._working-hours {
  margin-bottom: 56px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;
  }
}

.relative-wrapper {
  position: relative;
}

.datapicker-label {
  margin-bottom: 15px;
  max-width: 240px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5ZM2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1C16.5523 1 17 1.44772 17 2V6C17 6.55228 16.5523 7 16 7C15.4477 7 15 6.55228 15 6V2C15 1.44772 15.4477 1 16 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1C8.55228 1 9 1.44772 9 2V6C9 6.55228 8.55228 7 8 7C7.44772 7 7 6.55228 7 6V2C7 1.44772 7.44772 1 8 1Z' fill='%23A6AAB1'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 10C2 9.44771 2.44772 9 3 9H21C21.5523 9 22 9.44771 22 10C22 10.5523 21.5523 11 21 11H3C2.44772 11 2 10.5523 2 10Z' fill='%23A6AAB1'/%3e%3c/svg%3e ");
  background-size: 24px;
  background-position: bottom 12px right 14px;
  background-repeat: no-repeat;
  margin-right: 24px;
}

.calendar-field {
  flex-wrap: wrap;
  margin-bottom: 8px !important;
}

.day-wrapper {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity .3s ease-in-out;

}

.radio-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .relative-wrapper {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .relative-wrapper {
    margin-right: 36px;
  }

  .radio-select__title {
    font-size: 14px;
    flex: 0 0 100%;
    margin-bottom: 25px;
    color: $brand-gray;
  }
}

.event-modal-block {
  .tooltip-wrapper .tooltip-el {
    margin-left: 15px;
  }

  .tooltip-wrapper {
    margin-bottom: 22px;
  }

  .widget-template__shedule {
    overflow: visible;

    .shedule__block {
      flex: 0 0 100%;
      min-width: initial !important;
    }

    .shedule__block-list li {
      flex: 0 0 auto;
      width: 88px;
      height: 40px;
      white-space: nowrap;

      .shedule-time {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }

  .widget-template__footer {
    padding: 0;
  }

}